<h2>Angular Workshop</h2>

<BR>================================================================
<BR> <b>SHOW DATA</b>
<BR>================================================================
 
  <h2>Show Data</h2>
  <ul>  
      <li>Name:     {{name}}</li>
      <li>Age:      {{age}}</li>
      <li>E-mail:   {{email}}</li>
      <li>Address:  {{address.street}}, {{address.city}},{{address.province}},{{address.postcode}}</li>

  </ul>

<button (click)=toggleEdit()>Edit</button><br>
<div *ngIf="isEditable==true">
<BR>================================================================
<BR> <b>EDIT PROFILE / 2 WAYS BINDING BY NBMODEL</b>
<BR>================================================================

<h2>Edit profile</h2>
<form >
    <div>
        <label for="name"><b>Name:</b></label>
        <input type="text" [(ngModel)]="name" name="name" placeholder="First name" required>
    </div> 

    <div>
        <label for="age"><b>Age:</b></label>
        <input type="text" [(ngModel)]="age" name="age">
    </div> 
    <div>
        <label for="email"><b>Email:</b></label>
        <input type="text" [(ngModel)]="email" name="email">
    </div> 
    
    <div>
        <label for="address.postcode"><b>Address:</b></label>
        <input type="text" [(ngModel)]="address.postcode" name="address.postcode">
    </div> 
</form>
</div>
  <h2>Skill</h2>

<BR>================================================================
<BR> <b>ADD SKILL</b>
<BR>================================================================
<h2>Add Skills</h2>  
<form (submit)="addSkill(skill.value)">
  <div>
    <label for="skill">Skill:</label>
    <input type="text" #skill>
  
  </div>
</form>



  <ul>
  <li style="list-style-type: none" *ngFor="let skill of skills; let i = index">{{skill}} <button (click)="removeSkill(skill)">X</button></li>
  </ul>

  <h2>Todo List</h2>
  <ul>
    <li *ngFor="let Todo of todoList; let i = index;">{{i}}<b>{{Todo.id}}</b>{{Todo.title}}</li>
  </ul>

  <h2>END OF Todo List</h2>